# __________________________________________________
# LIBRAIRIES


# --------------------------------------------------
# pour le calcul scientifique
numpy
scipy
# --------------------------------------------------


# --------------------------------------------------
# pour l’exploration de données
beautifulsoup4
scrapy
wget
yfinance
# --------------------------------------------------


# --------------------------------------------------
# pour l’exploration et la visualisation des données
pandas
matplotlib
seaborn
plotly
# --------------------------------------------------


# --------------------------------------------------
# pour le machine learning
scikit-learn
keras
torch
tensorflow
xgboost
# --------------------------------------------------


# --------------------------------------------------
# pour le computer vision
opencv-python
mediapipe
# --------------------------------------------------


# --------------------------------------------------
# jupyter
jupyter
# --------------------------------------------------


# --------------------------------------------------
# pour les interfaces graphiques
pygame
gym
# --------------------------------------------------


# --------------------------------------------------
# pour les interfaces interactives
dash
dash_bootstrap_components
plotly-express
ipywidgets
Flask
# --------------------------------------------------


# --------------------------------------------------
# pour avoir R dans Python
# R doit être installé
# C:\Program Files\R\R-4.1.3\library doit être modifiable par les profils utilisateurs
# rpy2
# --------------------------------------------------



# __________________________________________________
