tensorflow
opencv-python
mediapipe
numpy
matplotlib
pygame
keras
pandas
pymongo
yfinance
wget
dash
dash_bootstrap_components
plotly
plotly-express
ipywidgets
scikit-learn
Flask
beautifulsoup4
jupyter